html{
    background-image: url('../assets/stars.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-image: linear-gradient(red, yellow);
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(47, 35, 174);
    display: flex;
    justify-content: center;
   
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.profile {
    font-size: 20px;
}

div img {
    height: 35px;
    width: 35px;
    border-radius: 25%;
}