html{
    background-image: url('../assets/town.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-image: url('../assets/town.jpg');
    display: flex;
    justify-content: space-between;
   flex-direction: column;
    height: var(--header-height);
    box-shadow: var(--shadow);
}


main {
    background-image: linear-gradient(rgb(14, 14, 188), rgb(139, 145, 210));
}

div img {
    height: 200px;
    width: 500px;
    border-radius: 25%;
}

