html{
    background-image: url('../assets/stars.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(47, 35, 174);
    display: flex;
    justify-content: center;
   
    height: var(--header-height);
    box-shadow: var(--shadow);
}

main {
    background-image: linear-gradient(rgb(14, 14, 188), rgb(139, 145, 210));
}