html{
    background-image: url('../assets/stars.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(47, 35, 174);
    display: flex;
    justify-content: center;
   
    height: var(--header-height);
    box-shadow: var(--shadow);
}

body {
    background-image: linear-gradient(rgb(14, 14, 188), rgb(139, 145, 210));
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../assets/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 1000px;
    margin: auto;
   

}

div img {
    height: 25px;
    width: 25px;
}


.bounty-board{
    justify-content: center;
}

.bounty {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.bounty.completed {
    color: whitesmoke;
    font-size: .9em;
}

.bounty.completed:after {
    content: ' ✔';
}