html{
    background-image: url('../assets/stars.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-image: linear-gradient(rgb(14, 14, 188), rgb(139, 145, 210));
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 75px;
}

header {
    background-image: linear-gradient(rgb(14, 14, 188), rgb(139, 145, 210));
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

div img {
    height: 35px;
    width: 35px;
    border-radius: 25%;
}
p img {
    width: 600px;
    height: 400px;
}

.profile {
    font-size: 20px;
}



.choice {
    display: block;
    list-style: none;
    padding: 5px;
}

.choice input {
    margin-right: 10px;
}

.hidden{
    display: none;
}

#dusk {
    padding: 20px;
}

section{
    width: 400px;
}


